body::-webkit-scrollbar {
    display: none;
}

body {

    background-image: url(/assets/Treeground.avif);
    color: #000000;
    background-size: cover;
  
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    min-height: 100vh;
}



.container {
    width: 90%;
    height: 90%;
    margin: 90px auto;

    color: white;
    background: linear-gradient(180deg, rgba(45, 58, 41, 0.616) 0%, rgb(28, 56, 54) 100%);
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}

.card {
    padding: 5%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    

}



.buttons button {
    font-size: 20px;
    padding: 20px 50px;
    background: linear-gradient(0deg,rgba(41, 134, 77, 1) 0%, rgba(76, 189, 86, 1) 100%);
    border-radius: 10px;
    margin: 20px;

}

.buttons button :hover{

    margin: 4cm;

}


#question {
    animation: appear 1s ease;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    color: rgb(255, 255, 255);
    display: flex;
    background-color: #00000069;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid;
    padding-left: 10px;

}